body {
	font-family: arial;
	padding: 0px;
	margin: 0px;
}

.header {
	background-color: #f96900;
	width: 100%;
	height: 25px;
	padding-top: 5px;
	padding-bottom: 7px;
	padding-left: 5px;
}

.headercontent {
	color: white;
	margin-top: 5px;
	padding-left: 50px;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.headercontent span {
	margin-right: 5px;
	margin-left: 5px;
}

img.yc {
	float: left;
	height: 100%;
	border: 1px solid white;
}


#main {
	float:left;
	width: 100%;
	margin-left: 370px;
	height: 100%;
}

#main-inner{
	width: 100%;
	height: 100%;
}

#sidebar {
	float: left;
	width: 370px;
	margin-right: -100%;
	height: 100%;
	background-color: #f5f5ec;
}

#sidebar-inner{
	width: 100%;
	height: 100%;
	padding: 15px;
	overflow: scroll;
	font-size: small;
}

#sidebar-inner-comments {
	word-wrap: break-word;
	width: 95%;
}


.timestamp {
	color: gray;
}

.comment {
	margin-bottom: 20px;
}

.reply, .title, .subtext {
	display: none;
}

#sidebar-inner a {
	color: black;
}

#sidebar-inner .user a {
	color: #369;
	font-weight: bold;
}

#sidebar-inner .comment a {
	color: #369;
}




